<!DOCTYPE html>
<html lang="en">
<head>
<title>Acceuil | {{ username }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Bluesky template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/simple-sidebar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap4/bootstrap.min.css') }}">
<link href="{{ url_for('static', filename='plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/OwlCarousel2-2.2.1/animate.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/properties.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/properties_responsive.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/simple-sidebar.css') }}">

</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start">
                        <div class="logo">
                            <a href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" alt=""></a>
                        </div>
                        <nav class="main_nav">
                            <ul>
                                <li><a href="index.html">Acceuil</a></li>
                                <li><a href="about.html">A propos</a></li>
                                <li><a href="trocs.html">Trocs</a></li>
                                <li><a href="news.html">Journal</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="phone_num ml-auto">
                            <div class="phone_num_inner">
                                <span><a href="#" style="color: white;"><i class="fa fa-user-o" aria-hidden="true"></i> Mon Compte </a></span>
                            </div>
                        </div>
                        <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

	<!-- Menu -->

	<div class="menu trans_500">
		<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
			<div class="menu_close_container"><div class="menu_close"></div></div>
			<div class="logo menu_logo">
				<a href="#">
					<div class="logo_container d-flex flex-row align-items-start justify-content-start">
						<div class="logo_image"><div><img src="{{ url_for('static', filename='images/logo.png') }}" alt=""></div></div>
					</div>
				</a>
			</div>
			<ul>
				<li class="menu_item"><a href="index.html">Acceuil</a></li>
				<li class="menu_item"><a href="about.html">A propos</a></li>
				<li class="menu_item"><a href="trocs.html">Trocs</a></li>
				<li class="menu_item"><a href="news.html">Journal</a></li>
				<li class="menu_item"><a href="contact.html">Contact</a></li>
			</ul>
		</div>

	</div>

	<!-- Home -->

	<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='images/properties.jpg') }}" data-speed="0.8"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content d-flex flex-row align-items-end justify-content-start">
							<div class="home_title">Bienvenue {{ username }}</div>
							<div class="breadcrumbs ml-auto">
								<ul>
									<li><a href="index.html">Acceuil</a></li>
									<li>{{ username }}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Home Search -->

	<ul id="menu" class="header">
		<a class="sidelink" href="#">&nbsp;<i class="fa fa-level-up" aria-hidden="true"></i> Mes Propositions </a>
		<a class="sidelink" href="#">&nbsp;<i class="fa fa-envelope-open-o" aria-hidden="true"></i> Message | </a>
		<a class="sidelink" href="#">&nbsp;<i class="fa fa-location-arrow" aria-hidden="true"></i> Mes Trocs | </a>
		<a class="sidelink" href="#">&nbsp;<i class="fa fa-arrows-h" aria-hidden="true"></i> Troquer | </a>
		<a class="sidelink active" href="#">&nbsp;<i class="fa fa-tachometer" aria-hidden="true"></i> Tableau de bord | </a>


	</ul>

	<!-- Properties -->

	<div class="properties">
		<div class="container">
			<a href="/troquer"><div class="row"><button class="btn btn-dark"><i class="fa fa-arrows-h" aria-hidden="true"></i> Troquer</button></div><br></a>
			<div class="row">
				<div class="col">
					<div class="section_title">Mes Trocs</div>
					<div class="section_subtitle">Mes troc recent</div>
					<p>{{ message }}</p>
				</div>
			</div>

			<div class="row properties_row">


				<!-- Property -->

				{% for objet in result %}
				<a href="/managetroc/{{ objet.imageName }}">
				<div class="col-xl-4 col-lg-6 property_col">
					<div class="property">
						<div class="property_image">
							<img style="width: 100%; height: 250px" src="{{ url_for('static', filename='images/objets/') }}{{ objet.imageName }}" alt="">
							<div class="tag_featured property_tag"><a href="#">{{ objet.category }}</a></div>
						</div>
						<div class="property_body text-center">
							<div class="property_location">{{ objet.ville }}</div>
							<div class="property_title"><a href="property.html">{{ objet.name }}</a></div>
							<div class="property_price">{{ objet.value }} CFA</div>
						</div>
						<div class="property_footer d-flex flex-row align-items-center justify-content-start">
							<div><div class="property_icon"><i class="fa fa-hashtag" aria-hidden="true"></i></div><span></span></div>
							<div><div class="property_icon"><i class="fa fa-bullseye" style="color: #32f996;" aria-hidden="true"></i></div><span>En troc</span></div>

						</div>
					</div>
				</div>
				</a>
				{% endfor %}

				<!-- Property -->

				<!-- Property -->
				<!-- Property -->

				<!-- Property -->

			</div>
			<div class="row">
				<div class="col">
					<div class="pagination">
						<ul>
							<li class="active"><a href="#">01.</a></li>
							<li><a href="#">02.</a></li>
							<li><a href="#">03.</a></li>
							<li><a href="#">04.</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- proposition -->
	<div class="properties" style="margin-top: 0px; padding-top: 0px;">
		<div class="container">
			<div class="row">
				<div class="col">

					<div class="section_title">Mes Proposition</div>
					<div class="section_subtitle">Mes proposition recent</div>
					<p>{{ message }}</p>
				</div>
			</div>

			<div class="row properties_row">


				<!-- Property -->

				{% for objet in proposition %}
				<a href="/managetroc/{{ objet.imageName }}">
				<div class="col-xl-4 col-lg-6 property_col">
					<div class="property">
						<div class="property_image">
							<img style="width: 100%; height: 250px" src="{{ url_for('static', filename='images/objets/') }}{{ objet.imageName }}" alt="">
							<div class="tag_featured property_tag"><a href="#">{{ objet.category }}</a></div>
						</div>
						<div class="property_body text-center">
							<div class="property_location">{{ objet.ville }}</div>
							<div class="property_title"><a href="property.html">{{ objet.name }}</a></div>
							<div class="property_price">{{ objet.value }} CFA</div>
						</div>
						<div class="property_footer d-flex flex-row align-items-center justify-content-start">
							<div><div class="property_icon"><i class="fa fa-hashtag" aria-hidden="true"></i></div><span></span></div>
							<div><div class="property_icon"><i class="fa fa-bullseye" style="color: #32f996;" aria-hidden="true"></i></div><span>En troc</span></div>

						</div>
					</div>
				</div>
				</a>
				{% endfor %}
				<!-- Property -->

				<!-- Property -->
				<!-- Property -->

				<!-- Property -->

			</div>
			<div class="row">
				<div class="col">
					<div class="pagination">
						<ul>
							<li class="active"><a href="#">01.</a></li>
							<li><a href="#">02.</a></li>
							<li><a href="#">03.</a></li>
							<li><a href="#">04.</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Newsletter -->

	<div class="newsletter">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='images/newsletter.jpg') }}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_content d-flex flex-lg-row flex-column align-items-start justify-content-start">
						<div class="newsletter_title_container">
							<div class="newsletter_title">Abonnez-vous à notre journal</div>
							<div class="newsletter_subtitle">Soyez le premier à être informé de nos offres</div>
						</div>
						<div class="newsletter_form_container">
							<form action="#" class="newsletter_form">
								<input type="email" class="newsletter_input" placeholder="Votre adresse email..." required="required">
								<button class="newsletter_button">Abonnez-vous</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="footer_main">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="footer_logo"><a href="#"><img src="{{ url_for('static', filename='images/logo_large.png') }}" alt=""></a></div>
					</div>
					<div class="col-lg-9 d-flex flex-column align-items-start justify-content-end">
						<div class="footer_title">Dernières trocs</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 footer_col">
						<div class="footer_about">
							<div class="footer_about_text">TrocBenin est là pour vous mettre en relation avec des personnes intéressées à troquer avec vous. N'hésitez pas à contacter notre équipe d'assistance pour obtenir de l'aide.</div>
						</div>
					</div>
					<div class="col-lg-3 footer_col">
						<div class="footer_latest d-flex flex-row align-items-start justify-content-start">
							<div><div class="footer_latest_image"><img src="{{ url_for('static', filename='images/footer_latest_1.jpg') }}" alt=""></div></div>
							<div class="footer_latest_content">
								<div class="footer_latest_location">Porto-Novo</div>
								<div class="footer_latest_name"><a href="#">Grande maison</a></div>
								<div class="footer_latest_price">30,000,000 CFA</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 footer_col">
						<div class="footer_latest d-flex flex-row align-items-start justify-content-start">
							<div><div class="footer_latest_image"><img src="{{ url_for('static', filename='images/footer_latest_2.jpg') }}" alt=""></div></div>
							<div class="footer_latest_content">
								<div class="footer_latest_location">Cotonou</div>
								<div class="footer_latest_name"><a href="#">Camry 2015</a></div>
								<div class="footer_latest_price">2,000,000 CFA</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 footer_col">
						<div class="footer_latest d-flex flex-row align-items-start justify-content-start">
							<div><div class="footer_latest_image"><img src="{{ url_for('static', filename='images/footer_latest_3.jpg') }}" alt=""></div></div>
							<div class="footer_latest_content">
								<div class="footer_latest_location">Abomey</div>
								<div class="footer_latest_name"><a href="#">Parcelle de terre</a></div>
								<div class="footer_latest_price">1,000,000 CFA</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bar">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="footer_bar_content d-flex flex-row align-items-center justify-content-start">
							<div class="cr"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Powered by <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">BigDataConeference IMSP</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
							<div class="footer_nav">
								<ul>
									<li><a href="index.html">Acceuil</a></li>
									<li><a href="#">A propos</a></li>
									<li><a href="trocs.html">Trocs</a></li>
									<li><a href="news.html">Journal</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</div>
							<div class="footer_phone ml-auto"><span>appelez nous: </span>(+229)61 740 074 / (+229)91 409 530 / (+229)97 770 636</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='styles/bootstrap4/popper.js') }}"></script>
<script src="{{ url_for('static', filename='styles/bootstrap4/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/TweenMax.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/TimelineMax.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/scrollmagic/ScrollMagic.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/animation.gsap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/ScrollToPlugin.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/OwlCarousel2-2.2.1/owl.carousel.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/easing/easing.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/parallax-js-master/parallax.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/properties.js') }}"></script>

<!-- Menu Toggle Script -->
<script>
	$("#menu-toggle").click(function(e) {
	  e.preventDefault();
	  $("#wrapper").toggleClass("toggled");
	});
</script>

</body>
</html>